.date-toggler{
    border: 1px solid rgb(206, 206, 206);
    width: 11vw;
    white-space: nowrap;
    border-radius:4px;
    padding: 6px 10px;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button:active{
    opacity: 0.5;
  }
  
  .date-range{
    position: absolute;
    z-index: 99;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid rgb(206, 206, 206);
  }
  
  .date-apply{
    margin: 0px 10px;
    padding: 0px 10px;
    background-color: #FFFFFF;
    color: #3B6FED;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(206, 206, 206);
  }
  
  
  